# Not too sure what this is yet, just drafting

In [87]:
import quandl 
import pandas as pd
import numpy as np

In [89]:
symbs = ['AAPL','GOOG','AMZN','NFLX']
universe = [quandl.get(("WIKI/" + str(symbol)), start_date="2006-10-01", end_date="2012-01-01")
            for symbol in symbs]

In [90]:
## Just do for Close Prices for now (1/1/2018)
for df, symbol in zip(universe, symbs):
    df.drop(df.columns[4:11],axis=1,inplace=True)
    df['pct_change'] = df.Close.pct_change()
    df['log return'] = np.log(df.Close/df.Close.shift(1))
    df['Ticker'] = str(symbol)

In [91]:
universe[0].head()

,Open,High,Low,Close,Adj. Volume,pct_change,log return,Ticker
Date,,,,,,,,
2006-10-02,75.10,75.870,74.30,74.86,178159800.0,NaN,NaN,AAPL
2006-10-03,74.45,74.950,73.19,74.07,197677200.0,-0.010553,-0.010609,AAPL
2006-10-04,74.10,75.462,73.16,75.38,207270700.0,0.017686,0.017531,AAPL
2006-10-05,74.53,76.160,74.13,74.83,170970800.0,-0.007296,-0.007323,AAPL
2006-10-06,74.42,75.040,73.81,74.22,116739700.0,-0.008152,-0.008185,AAPL

In [118]:
stock_logret_dict = {symbol: stock['log return'].dropna() for stock, symbol in zip(universe,symbs)}

In [121]:
stock_logret_df = pd.DataFrame.from_dict(stock_logret_dict)

In [123]:
stock_logret_df.head()

                AAPL      AMZN GOOG      NFLX
Date
2006-10-03 -0.010609  0.031566  NaN  0.010033
2006-10-04  0.017531  0.027857  NaN  0.006920
2006-10-05 -0.007323  0.016950  NaN  0.027632
2006-10-06 -0.008185 -0.022152  NaN  0.010842
2006-10-09  0.005509  0.023951  NaN -0.004573

In [133]:
stock_logret_df.drop('GOOG', axis=1).head()

                AAPL      AMZN      NFLX
Date
2006-10-03 -0.010609  0.031566  0.010033
2006-10-04  0.017531  0.027857  0.006920
2006-10-05 -0.007323  0.016950  0.027632
2006-10-06 -0.008185 -0.022152  0.010842
2006-10-09  0.005509  0.023951 -0.004573

In [151]:
# Testing distributions
import scipy.stats
import matplotlib.pyplot as plt
size = 30000
dist_names = ['gamma', 'beta', 'rayleigh', 'norm', 'pareto']

dist = scipy.stats.norm
param = dist.fit(stock_logret_df[stock])
print(param)


fit = scipy.stats.norm.pdf(stock_logret_df[stock], param[0], param[1] )

#pdf_fitted = dist.pdf(, param)

(0.0012770554951817368, 0.024049665985385476)